body{
    font: 400 14px MuseoSansCyrl,sans-serif;
    font-size: 14px;
    color: #5e647d;
    min-width: 900px;
    margin: 0px;
	background-image: url(file:///C:/Users/Creacf%2065/Desktop/grandma_recipes/Realisation-site-web/img/une%20drome.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll; /*fiver l'img de fond*/
	}

.entete{
	background-color : rgba(227,219,183,0.80);
	height: 70px;
	margin: 0px;
}
.menu{
	display: flex;
	list-style: none;
	margin-right:540px;
	padding: 19px;
	padding-top: 0px;
	height: 

}
.navbar{
	align-items: center;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 64px;
	max-width: 1500x;
	padding: 10px;


}
.elem_menu{
	width: 120px;
	height: 25px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
	border: 6px inset rgba(197,190,161,0.58);
border-radius: 25px;
}
.elem_menu:hover{
	background-color : rgba(197,190,161,0.75);
	height: 25px;
	text-align: center;
	margin-top: 0px;
	color: white;
	font-size: 20px;
}
a{
text-decoration: none;
color: #5e647d;
height: 38px;
width: 180px;
}
h1{
	height: 30px;
	text-align: center;
	
	border: 6px inset #C5BEA1;
	border-radius: 25px;
	padding-left:  25px;
	padding-right: 25px;
}
